.bg-colors > .pad-1,
.text-colors > .pad-1 {
    flex-grow: 1;
}

.display-box {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: .5rem 1rem;
    background-color: #334;
    border-radius: 5px;
    color: white;
    font-size: .875rem;
}

.float-box {
    background-color: #334;
    border-radius: 5px;
    color: white;
}

/* ONLY FOR DEMO PURPOSES */
.card {
    flex: 0 1 300px !important;
}

/* FLEX BUILDER */
.flex-header {
    padding: 1rem;
}

    .flex-header .button {
        font-size: .875rem;
    }

.flex-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-live,
.flex-css {
    border: 2px solid #e6d7c8;
    border-radius: 5px;
}

.flex-live {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: calc(100% - (300px + 1rem));
    margin-right: 1rem;
    padding: 1rem;
    background-color: seashell;
}

.flex-layout {
    display: flex;
}

.flex-css {
    position: relative;
    width: 300px;
    padding: 1rem;
    background-color: seashell;
}

    .flex-css::before {
        content: '';
    }

.flex-box {
    margin: 10px;
    padding: 2rem;
    background-color: #334;
    border-radius: 5px;
    font-family: Georgia;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

#grow .flex-box {
    transition: all .5s cubic-bezier(1, 0, .5, 1);
}

#grow.flex-grow-1 .flex-box:nth-child(1),
#grow.flex-grow-2 .flex-box:nth-child(2),
#grow.flex-grow-3 .flex-box:nth-child(3),
#grow.flex-grow-4 .flex-box:nth-child(4) {
    flex-grow: 1;
    background-color: #14af14;
}

#grow.flex-grow-1 .flex-box:nth-child(2),
#grow.flex-grow-1 .flex-box:nth-child(3),
#grow.flex-grow-1 .flex-box:nth-child(4),
#grow.flex-grow-2 .flex-box:nth-child(1),
#grow.flex-grow-2 .flex-box:nth-child(3),
#grow.flex-grow-2 .flex-box:nth-child(4),
#grow.flex-grow-3 .flex-box:nth-child(1),
#grow.flex-grow-3 .flex-box:nth-child(2),
#grow.flex-grow-3 .flex-box:nth-child(4),
#grow.flex-grow-4 .flex-box:nth-child(1),
#grow.flex-grow-4 .flex-box:nth-child(2),
#grow.flex-grow-4 .flex-box:nth-child(3) {
    flex-grow: 0;
}

#align-self {
    align-items: flex-start;
}

.focus-self {
    background-color: #14af14;
}

#align-self.align-self-start .focus-self {
    align-self: flex-start;
}

#align-self.align-self-end .focus-self {
    align-self: flex-end;
}

#align-self.align-self-center .focus-self {
    align-self: center;
}

#align-self.align-self-stretch .focus-self {
    align-self: stretch;
}
