/*transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); EASE OUT BACK */
/*transition: all 1s cubic-bezier(0.6, -0.28, 0.735, 0.045); EASE IN BACK */
/*transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); EASE IN OUT BACK */

/* TOAST */
.sw-toaster {
    position: fixed;
    max-width: 500px;
    margin: 1rem;
    z-index: 110001;
}

.sw-toast {
    margin: 5px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, .2);
    color: white;
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 50%, 0);
    -webkit-transform: translate3d(0, 50%, 0);
    -moz-transform: translate3d(0, 50%, 0);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    animation: toast .5s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation: toast .5s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -moz-animation: toast .5s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes toast {
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@-moz-keyframes toast {
    to {
        -webkit-transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

@-webkit-keyframes toast {
    to {
        -moz-transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
    }
}

.sw-toast.info,
.sw-toast.default {
    background-color: #1888eb;
}

    .sw-toast.info:hover,
    .sw-toast.default:hover {
        background-color: #0266be;
    }

.sw-toast > h4 {
    margin: 0;
    padding-bottom: .5rem;
}

.sw-toast.success {
    background-color: #14af14;
    color: white;
}

    .sw-toast.success:hover {
        background-color: #099a09;
    }

.sw-toast.warning {
    background-color: red;
}

    .sw-toast.warning:hover {
        background-color: #cb2026;
    }

.sw-toast.caution {
    background-color: #ffd400;
    color: black;
}

    .sw-toast.caution:hover {
        background-color: #ffba00;
    }

.sw-toaster.bottom-left {
    left: 0;
    bottom: 0;
}

.sw-toaster.bottom-right {
    right: 0;
    bottom: 0;
}

.sw-toaster.bottom-center {
    left: 50%;
    bottom: 0;
    margin-left: -12.5%;
}

.sw-toaster.top-left {
    top: 0;
    left: 0;
}

.sw-toaster.top-center {
    top: 0;
    left: 50%;
    margin-left: -12.5%;
}

.sw-toaster.top-right {
    top: 0;
    right: 0;
}

.sw-toaster.left-center {
    top: 50%;
    left: 0;
}

.sw-toaster.center-center {
    top: 50%;
    left: 50%;
    margin-top: -12.5%;
    margin-left: -12.5%;
}

.sw-toaster.right-center {
    top: 50%;
    right: 0;
}

.sw-toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #0266be;
    border-radius: 5px;
}

.sw-toast.warning .sw-toast-progress {
    background-color: #cb2026;
}

.sw-toast.success .sw-toast-progress {
    background-color: #099a09;
}

.sw-toast.caution .sw-toast-progress {
    background-color: #ffba00;
}

.sw-toast.dismiss {
    opacity: 0;
    visibility: hidden;
}

@keyframes _toastProgress {
    to {
        width: 0;
    }
}
@-webkit-keyframes _toastProgress {
    to {
        width: 0;
    }
}
@-moz-keyframes _toastProgress {
    to {
        width: 0;
    }
}

/* DIALOG */
.sw-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: visibility .5s;
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    z-index: 1000001;
}

.sw-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transition: visibility .5s, opacity .5s;
    -webkit-transition: visibility .5s, opacity .5s;
    -moz-transition: visibility .5s, opacity .5s;
}

.sw-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 2rem;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 5rem 0 rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    transform: scale(.85);
    -webkit-transform: scale(.85);
    -moz-transform: scale(.85);
    overflow: hidden;
}

.sw-modal-container.is-minimized {
    align-items: flex-end;
    justify-content: flex-end;
    pointer-events: none;
}

.sw-modal-container.is-maximized {
    align-items: center;
    justify-content: center;
}

.sw-modal-container.is-minimized .sw-modal-overlay {
    visibility: hidden !important;
    opacity: 0 !important;
}

.sw-modal-container.is-minimized .sw-modal {
    width: 300px !important;
    border-color: darkorange;
    box-shadow: none;
    pointer-events: all;
}

.sw-modal-container.is-maximized .sw-modal {
    width: 100% !important;
    height: calc(100% - 4rem) !important;
}

.sw-modal-container.is-minimized .sw-modal-content-wrapper {
    visibility: hidden;
    height: 0;
    padding: 0 1rem;
}

.sw-modal-container.is-minimized .sw-modal-controls {
    background-color: white;
}

.sw-modal-container.is-minimized .sw-modal-button-controls {
    display: none;
}

.sw-modal-container.is-open {
    visibility: visible;
}

    .sw-modal-container.is-open .sw-modal-overlay,
    .sw-modal-container.is-open .sw-modal {
        opacity: 1;
        visibility: visible;
    }

    .sw-modal-container.is-open .sw-modal {
        transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -webkit-transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        -moz-transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-delay: .15s;
        -webkit-transition-delay: .15s;
        -moz-transition-delay: .15s;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
    }

.sw-modal-container:not(.is-open) .sw-modal {
    transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: visibility .3s, opacity .3s, transform .3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition-delay: .15s;
    -webkit-transition-delay: .15s;
    -moz-transition-delay: .15s;
}

.sw-modal-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 1rem;
}

.sw-modal-title {
    margin-bottom: .25rem;
    padding-bottom: .25rem;
    font: 700 1.2rem 'Nunito Sans';
}

.sw-modal-inner {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sw-modal-content {
    position: relative;
    display: block;
    height: 100%;
}

    .sw-modal-content::after {
        content: '';
        display: block;
        clear: both;
    }

.sw-modal-controls {
    display: flex;
    padding: .5rem 1rem;
    justify-content: flex-end;
    /* background-color: rgba(208, 208, 208, 0.2); */
}

.sw-modal-button-controls {
    display: flex;
    padding: 1rem;
    /* background-color: rgba(208, 208, 208, 0.2); */
}

.sw-modal-control-button {
    margin-left: .5rem;
    font-size: 0;
    cursor: pointer;
}

.sw-modal-controls.smaller-icons > .sw-modal-control-button {
    width: 20px;
    height: 20px;
}

    .sw-modal-control-button > img {
        width: 100%;
    }

.sw-modal-container.is-screen-height .sw-modal-button-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sw-modal-button-controls,
.sw-modal-button-controls.start {
    justify-content: flex-start;
}

    .sw-modal-button-controls.end {
        justify-content: flex-end;
    }

    .sw-modal-button-controls.around {
        justify-content: space-around;
    }

    .sw-modal-button-controls.between {
        justify-content: space-between;
    }

.sw-modal-button {
    margin-left: .25rem;
    margin-right: .25rem;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700;
}

.sw-modal-button-controls .sw-modal-control-button:first-child {
    margin-left: 0;
}

.sw-modal-button-controls .sw-modal-control-button:last-child {
    margin-right: 0;
}

/* SINEWAVE DATEPICKER */
.sw-datepicker {
    display: none;
    position: absolute;
    width: 250px;
    background-color: white;
    border: 2px solid #1888eb;
    border-radius: 5px;
    z-index: 99999;
}

    .sw-datepicker.is-visible {
        display: block;
    }

.sw-datepicker-wrapper {
    display: flex;
    height: 250px;
    padding: 2px;
}

.sw-datepicker-column {
    width: calc(100% / 3);
    overflow-y: auto;
}

.sw-datepicker-value {
    padding: 2px 5px;
    font-family: 'Nunito', Helvetica, sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.sw-datepicker-value:hover {
    background-color: #1888eb;
    color: white;
}

/* SINEWAVE STANDARD DATEPICKER */
.sw-standard-datepicker {
    display: none;
    position: absolute;
    width: 280px;
    height: auto;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    border: 2px solid #1888eb;
    border-radius: 5px;
    font-size: 14px;
    -moz-user-select: none;
    -webkit-user-select: none;
    z-index: 20000001;
}

.sw-standard-datepicker.is-sticky {
    position: fixed !important;
}

.sw-standard-datepicker-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.sw-standard-datepicker-current {
    font-weight: 700;
}

.sw-standard-datepicker-current-date {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.sw-standard-datepicker-icon {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

    .sw-standard-datepicker-icon:hover {
        background-color: #1888eb;
    }

.sw-standard-datepicker table {
    width: 100%;
    border-collapse: collapse;
}

.sw-standard-datepicker-header-cell {
    padding-bottom: 10px;
}

.sw-standard-datepicker-body td {
    padding: 0;
    line-height: 30px;
    text-align: center;
}

.sw-standard-datepicker-body-cell {
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .3s;
}

.sw-standard-datepicker-body-cell:hover {
    background-color: rgba(24, 136, 235, .2);
}

.sw-standard-datepicker-body-cell-empty {
    color: #d0d0d0;
}
    
